* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "General Sans";
}

html,
body {
  height: 100%;
  width: 100%;
}
#main {
  width: 100%;
  height: auto;
}
#hero {
  color: white;
  width: 100%;
  height: 100vh;
  background-color: black;
}
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px;
  color: white;
}
#nav a {
  text-decoration: none;
  font-size: 18px;
  color: white;
  font-weight: 500;
}
#heading {
  padding-top: 90px;
}
#heading h1 {
  margin-left: 34px;
  opacity: 0.7;
  line-height: 0.9;
  font-family: "General Sans Regular";
  font-size: 10vw;
  font-weight: 900;
  text-transform: uppercase;
}
#heading #secondh1 {
  margin-left: 170px;
}
.blocktext {
  width: fit-content;
}
.blocktext h5 {
  text-align: right;
  text-transform: uppercase;
  font-size: 1vw;
  padding-top: 14px;
}
#smallheadings {
  margin-top: 120px;
}
#smallheadings h5 {
  text-align: right;
  margin-right: 50px;
  font-size: 1vw;
}
#herofooter {
  padding: 0 2vw;
  position: absolute;
  width: 100%;
  bottom: 3%;
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#herofooter a {
  color: white;
  text-decoration: none;
}
#herofooter #iconset {
  margin-right: 20px;
  display: flex;
  gap: 5px;
}
#herofooter .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #888;
}
#second {
  color: white;
  padding-right: 10vw;
  padding-top: 180px;
  height: 100vh;
  width: 100%;
  background-color: black;
}
.elem {
  position: relative;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  padding: 3.5vw 3vw;
  padding-right: 0;
  border-top: 1px solid #888;
}
.elem h1 {
  font-size: 7vw;
  opacity: 0.7;
}
.elemlast {
  border-bottom: 1px solid #888;
}
.elem img {
  display: none;
  height: 100%;
  z-index: 999;
  position: absolute;
}
#about {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  /* gap:80px; */
  padding: 27vw 30vw;
  padding-bottom: 19vw;
  padding-right: 10vw;
  /* padding-left: 30vw; */
  width: 100%;
  background-color: black;
}
#textabout {
  width: 25rem;
}
#textabout p {
  line-height: 1.6;
  margin-bottom: 18px;
  font-weight: 400;
}
#textabout h5 {
  opacity: 0.7;
}
#textabout a {
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  font-size: 16px;
  text-decoration: none;
}
#about img {
  width: 260px;
  /* justify-content: center; */
  margin-left: 0;
}
#subscribe {
  /* width: 100vw; */
  background-color: black;
  color: white;
  padding: 20px 30px;
  padding-bottom: 18vh;
}
#subscribe h5 {
  opacity: 0.7;
  font-size: 13px;
}
#subscribe h3 {
  margin-top: 8px;
  font-size: 16px;
}
#footer {
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footerleft {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 45px;
  font-size: 15px;
  font-weight: 300;
}
#footerright {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  gap: 55px;
  font-size: 14px;
}
#footerright a{
  color: white;
  text-decoration: none;
}
